.title {
  text-shadow: 3px 3px 1px rgba(0, 0, 0, 1);
  color: white;
}

.questTitle {
  text-shadow: 3px 3px 0.1px #2E3A59;
  color: white;
}

.progress_bar {
  height: 5px;
  width: 100%;
  background-color: #8AD1F0;
  border-radius: 5px;
  overflow: hidden;
}

.progress {
  height: 100%;
  background-color: white;
  border-radius: 5px;
}

.border {
  border-width: 1px;
  border-color: #dddddd; 
}
